.Search-div{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.Search{
    width: 93%;
    height: 50px;
    border-radius: 10px;
    border-color: #98cffc;
    box-shadow: 1px 1px 3px 3px #e4e4e4;
    

}